<div class="d-md-flex gap-2 align-items-center mb-2">
  <div>
    <h1>Meetings</h1>
    <p class="col-md-6">
      Catch up with your friends to play some boardgames!
      Below is a list of currently planned meetings around your community.
      Click on meeting's title to view its description and see who is going.
      You can also plan your own meeting, anywhere you want.
    </p>
  </div>
  <%= link_to new_meeting_path,
              type: 'button',
              class: "ms-auto btn btn-outline-primary text-nowrap" do %>
    <i class="bi bi-plus me-1"></i> Plan new
  <% end %>
</div>

<div id="meetings">
  <% if @meetings.count == 0 %>
    <p class="text-center text-secondary">
      There is currently no meetings planned. Organize your own!
      <i class="bi bi-balloon"></i>
    </p>
  <% end %>
  <%= render 'list_meetings', meetings: @meetings %>
</div>
