<div class="d-md-flex gap-2 align-items-center mb-2">
  <div>
    <h1>Meetings</h1>
    <p>Catch up with your friends to play some boardgames.</p>
  </div>
  <%= link_to new_meeting_path,
              type: 'button',
              class: "ms-auto btn btn-outline-primary" do %>
    <i class="bi bi-plus me-1"></i> Plan new meeting
  <% end %>
</div>

<div id="meetings">
  <% if @meetings.count == 0 %>
    <p class="text-center text-secondary">
      There is currently no meetings planned. Organize your own!
      <i class="bi bi-balloon"></i>
    </p>
  <% end %>
  <%= render 'list_meetings', meetings: @meetings %>
</div>
