<h2>Review user</h2>

<div class="mt-3 d-flex gap-4 align-items-center">
  <%= render 'users/user_snippet', user: @opinion_about %>
</div>

<div class="col-lg-6">
  <p>
    Got a great experience with this user? Make sure to mention it in the review!
    The opposite? Sad to hear that, but be constructive, please.
  </p>

  <%= render "form", user: @opinion_about %>
</div>
