<div class="card">
  <div class="card-header">
    Opinions about <%= about.name %>
  </div>
  <div class="card-body">
  <div class="list-group">
    <% about.opinions_about.each do |opinion| %>
      <%= render opinion %>
    <% end %>
  </div>
  </div>
</div>
