<div class="ms-auto d-flex gap-2">
  <% if user != current_user %>
    <% unless user.reviewed_by?(current_user) %>
      <%= link_to new_user_opinion_path(opinion_about_id: user.id), class: "btn btn-outline-primary", method: :put do %>
        <i class="bi bi-clipboard-check me-1"></i> Review
      <% end %>
    <% end %>
    <%= button_to nil, class: "btn btn-outline-primary", method: :put do %>
      <i class="bi bi-flag me-1"></i> Report
    <% end %>
    <%= link_to "Manage deposit", edit_user_path(user), type: 'button', class: "btn btn-outline-primary" if user_signed_in? && current_user.admin? %>
  <% end %>
</div>
