<h1>Users</h1>

<div id="users">
  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <div class="row align-items-center">
          <%= render 'user_snippet', user: user %>
          <div class="ms-auto">
            <% if user_signed_in? && current_user.is_admin? %>
              <%= link_to "Accept deposit", root_url, type: 'button', class: "btn btn-outline-primary" %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
