<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <p><%= link_to user.name, user %></p>
      </li>
    </ul>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
