<ul class="list-group list-group-horizontal">
  <% wanted = rental_request.wanted_per_requests %>
  <% if wanted.empty? %>
    <li class="list-group-item">
      <i class="bi bi-braces"></i>
    </li>
  <% else %>
    <% wanted.each do |entry| %>
      <li class="list-group-item">
        <%= link_to entry.game.title, entry.game %>
      </li>
    <% end %>
  <% end %>
  <li class="list-group-item">
    <i class="bi bi-arrow-right"></i>
  </li>
  <% offered = rental_request.offered_per_requests %>
  <% if offered.empty? %>
    <li class="list-group-item">
      <i class="bi bi-braces"></i>
    </li>
  <% else %>
    <% offered.each do |entry| %>
      <li class="list-group-item">
        <%= link_to entry.game.title, entry.game %>
      </li>
    <% end %>
  <% end %>
</ul>
