<li class="list-group-item d-flex px-0 border-0 align-items-center">
    <%= image_tag(game.thumbnail_url, class: "img-thumbnail flex-shrink-0 shadow-sm", height: 30, width: 100) %>
    <div class="ms-3">
      <b><%= link_to game.title, game %></b>
    </div>
</li>
