<li class="list-group-item">
  <div class="d-flex align-items-center">
    <%= image_tag(game.thumbnail_url, class: "img-thumbnail flex-shrink-0", height: 20, width: 70) %>
    <div class="ms-md-2">
      <b><%= link_to game.title, game %></b>
      </p>
    </div>
  </div>
</li>
