<li class="list-group-item border-0 px-0 d-flex align-items-center justify-content-end">
  <div class="me-md-3 text-end">
    <b><%= link_to game_copy.realizes.title, game_copy %></b>
    <p class="my-0"> <%= game_copy.condition %> - <%= describe_condition(game_copy.condition) %>
    </p>
  </div>
  <%= image_tag(game_copy.realizes.thumbnail_url, class: "img-thumbnail flex-shrink-0 shadow-sm", height: 30,
                width: 100) %>
</li>
