<li class="list-group-item">
  <div class="d-flex align-items-center">
    <%= image_tag(game_copy.realizes.thumbnail_url, class: "img-thumbnail flex-shrink-0", height: 20, width: 70) %>
    <div class="ms-md-2">
      <b><%= link_to game_copy.realizes.title, game_copy %></b>
      <p class="my-0"> <%= game_copy.condition %> - <%= describe_condition(game_copy.condition) %>
      </p>
    </div>
  </div>
</li>
