<div class="progress mt-2"
     role="progressbar">
  <div class="progress-bar" style="width: <%=rental.progress%>%"></div>
  <%= "#{rental.rental_days_left}/#{rental.days}" %> rental days left
</div>
