<h1>Your rentals</h1>
<p>The following list contains all active rentals.</p>

<div id="rental">
  <% if current_user.all_active_rentals.count == 0 %>
    <p class="text-center text-secondary">
      There is currently no requests available. Submit your own!
      <i class="bi bi-balloon"></i>
    </p>
  <% end %>
  <%= render 'list_rentals', rentals: current_user.all_active_rentals %>
  <h5 class="mt-3">Archival rentals</h5>
  <%= render 'list_rentals', rentals: current_user.all_archival_rentals %>
</div>
