<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<div id="games">
  <ul class="list-group">
    <% @games.each do |game| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="row">
          <div class="col-3">
            <%= image_tag(game.boxart_url, class: "img-thumbnail") %>
          </div>
          <div class="col">
            <p><%= link_to game.title, game %></p>
          </div>
        </div>
      </li>
  <% end %>
  </ul>
</div>

<%= link_to "New game", new_game_path %>
