<h1>Edit pending request</h1>

<p>
  Here you can modify the dates of your rental request.
</p>

<%= render "form", rental_request: @rental_request %>

<div class="mt-2">
  <%= link_to "Delete", rental_request_path(@rental_request),
              data: { 'turbo-confirm': "Are you sure you want to delete this request?" },
              method: :delete %>
</div>
