<h1>Rental requests</h1>
<p>The following list contains all submitted rental requests. Here, X
  <i class="bi bi-arrow-right"></i> Y means that the request submitter
  is interested in giving all games from set X in return for all games from set Y for a specified time period.
</p>

<div id="rental_requests">
  <% if @rental_requests.submitted.count == 0 %>
    <p class="text-center text-secondary">
      There is currently no requests available. Submit your own!
      <i class="bi bi-balloon"></i>
    </p>
  <% end %>
  <%= render 'list_requests', rental_requests: @rental_requests.submitted %>
  <h5 class="mt-3">Archival rental requests</h5>
  <%= render 'list_requests', rental_requests: @rental_requests.archival %>
</div>
