<h1>Open new rental request</h1>

<div class="col-lg-6">

<p>
  Please specify the dates of your rental request.
  After opening the request you will be able to
  add new wanted/offered games to it via Games page.
  You can also add additional notes to better describe
  your request.
</p>

<%= render "form", rental_request: @rental_request %>

</div>
