<h1>Open new rental request</h1>

<p>
  Please specify the dates of your rental request.
  After opening the request you will be able to
  add new wanted/offered games to it via Games page.
</p>

<%= render "form", rental_request: @rental_request %>
