<h1>Editing game_copy</h1>

<%= render "form", game_copy: @game_copy %>

<br>

<div>
  <%= link_to "Show this game_copy", @game_copy %> |
  <%= link_to "Back to game_copys", game_copys_path %>
</div>
