<h1>Submit your own copy</h1>

<div class="col-lg-6">

<p>
  You are about to provide your copy of <%= @game.title %> to the Neumann system.
  Please evaluate the physical condition of your copy and add the box barcode.
  You can submit additional description concerning the condition or its explanation.
  Description is public.
</p>

<%= render "form", game_copy: @game_copy, game: @game %>

</div>